body {margin: 0;
        padding: 0;
      background-color: lightgrey;}

img {
border-radius: 50%;
    width: 350px !important;
    height: 350px !important;
    margin: auto;
    display: block;

}

.container-fluid {padding: 0 !important;}

.content-section {background-color: darkgrey;
margin: 0;
padding: 0;
width: 100%;}

.einstein { font-style: italic;
color: black;
    font-size: 20px;
text-align: center;
padding: 20px;
background-color: white;
    opacity: 5;
}

.naam {text-align: center;
margin: auto;
padding: 50px;}

.table-dark {width: 500px;
height: auto;
margin: auto;
padding: 50px !important;}

.thead-dark {background-color: grey !important;
}

.table-dark th { text-align: center;}

.tekst {text-align: center;
 padding: 15px;}

.box {
    background-image: url("images/background.jpg");
    text-align: center;
    margin: 20px auto auto;
}

.bottom-links {display: inline-block;
list-style: none;
    font-weight: bold;
}

.bottom-links li {display: inline-block;}

.mijn-link {
margin: 0;}

a {text-decoration: none;
color: black;}

.box li {list-style-position: inside;}

h4,h5, h6 {text-align: center;
padding: 25px;}

p {text-align: center;}