body {margin: 0;
        padding: 0;
      background-color: lightgrey;}

img {
border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;

}

.einstein { font-style: italic;
color: black;
    font-size: 20px;
text-align: center;
padding: 20px;}

.naam {text-align: center;
margin: auto;
padding: 50px;}

.table-dark {width: 500px;
height: auto;
margin: auto;
padding: 50px !important;}

.thead-dark {background-color: grey !important;
}

.table-dark th { text-align: center;}

.tekst {text-align: center;
 padding: 15px;}

.box {background-image: url("images/background.jpg");
margin: auto;
text-align: center;
width: 800px;
margin-top: 20px;}

h4,h5 {text-align: center;
padding: 25px;}

p {text-align: center;}