body {margin: 0;
        padding: 0;
      background-color: lightgrey;}

img {
border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;

}

.einstein { font-style: italic;
color: black;
    font-size: 20px;
text-align: center;
padding: 20px;}

.naam {text-align: center;
margin: auto;
padding: 50px;}